<div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto me-3 mb-2 mb-lg-0" )>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="index.html">Regresar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="asientos/PHP-Autobus/index.php">Asientos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://chat.whatsapp.com/DPmMZE36ivfBAq6Iq47lUF">Contactanos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="perfil.html">Mi Perfil</a>
            </li>
        </div>
      </div>
    </nav>
</header>

<div class="container mt-4 mb-4">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card" style="width: 18rem;">
          <img src="/img/cartelera1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5>LOVE AND THUNDER</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card" style="width: 18rem;">
          <img src="/img/cartelera2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5>SUPER HEROES</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4 ">
        <div class="card" style="width: 18rem;">
          <img src="/img/cartelera3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
           <h5>DRAGON BALL Z</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card" style="width: 18rem;">
          <img src="/img/cartelera4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5>DOCTOR STRANGE</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card" style="width: 18rem;">
          <img src="/img/carteler5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5>A TRAVES DE MI VENTANA</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4 ">
        <div class="card" style="width: 18rem;">
          <img src="/img/cartelera6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
           <h5>AVATAR II</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card" style="width: 18rem;">
          <img src="/img/cartelera7.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5>CHARLES</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card" style="width: 18rem;">
          <img src="/img/cartelera8.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5>BOO BITCH</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4 ">
        <div class="card" style="width: 18rem;">
          <img src="/img/cartelera9.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
           <h5>ENCANTO</h5>
          </div>
        </div>
      </div>

    </div>
  </div>
  <footer id="footer" class="pb-4 pt-4">
    <div class="container">
      <div class="row text-center">
        <div class="col-12 col-lg">
          <a href="">Preguntas frecuentes</a>
        </div>
        <div class="col-12 col-lg">
          <a href="https://www.facebook.com/christopher.ulloa.001">Visitanos en Facebook</a>
        </div>
        <div class="col-12 col-lg">
          <a href="https://www.instagram.com/christopher._27/">Instagram</a>
        </div>
        <div class="col-12 col-lg">
          <a href="https://chat.whatsapp.com/DPmMZE36ivfBAq6Iq47lUF">Contactanos</a>
        </div>
      </div>
    </div>
